<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'blog_home_work:index' %}">Interesting Stories</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog_home_work:post-list' %}">Все посты</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'blog_home_work:rubric-list' %}" id="dropdown01"
                data->Рубрики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog_home_work:author-list' %}">Авторы</a>
            </li>
        </ul>
    </div>
</nav>
